@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: "Ubuntu";
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0%;
}

.bg {
  background: url("./img/yashPage.gif") no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;

  height: calc(100vh + 60px);
  width: calc(100vw + 60px);
  z-index: -1;
  filter: blur(0px);
  align-items: center;
  justify-content: center;
}

.loading-text {
  font-size: 90px;
  color: white;
  margin-left: 200px;
}
.heading {
  font-size: 30px;
  font-weight: strong;
  font-style: italic;
  color: black;
  text-shadow: 4px 4px 10px #0e0e04b4;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 10px;

  filter: blur(0px);
  margin-right: 30%;
}
